.header {
    margin-top: 10px;
    color: #F45B69;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    font-weight: bold;
    margin: 10px 0px;
}

h3 {
    color: #FFFFFF;
    padding: 10px 10px;
}

h5,
h6 {
    color: #FFFFFF;
}

li {
    list-style-type: none;
}

.button {
    padding: 10px 20px;
    color: #000000;
    background-color: #FBFEF9;
}

.form-control {
    background-color: #E8E9F3;
    color: #2E2C2F;
    text-align: center;
}

.form-control:focus {
    background-color: #E8E9F3;
    border-color: #475B63;
}