.StorageData {
    display: flex;
    flex-direction: row;
}

.ElectoralList {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #F45B69;
    margin-right: 3px;
    padding: 10px 0;
}

.ElectoralCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #F45B69;
    margin: 0px 2px;
    height: 150px;
    padding: 10px 0;
}

.GetIdForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #F45B69;
    margin-left: 3px;
    height: 300px;
    padding: 10px 0;
}