h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

li {
    list-style-type: none;
}

/* Enroll Componene */

.Enroll {
    display: flex;
    flex-direction: row;
}

.EnrollForm {
    border: 1px solid gray;
    padding: 20px;
    margin: 10px 0px;
    margin-right: 5px;
}

.EnrollStatus {
    border: 1px solid gray;
    padding: 20px;
    margin: 10px 0px;
    margin-left: 5px;
    word-wrap: break-word;
}

/* Storage Component */

.StorageData {
    display: flex;
    flex-direction: row;
}

.ElectoralList {
    border: 1px solid gray;
    text-align: center;
    padding: 20px;
    margin-right: 3px;
    float: right;
}

.ElectoralCount {
    border: 1px solid gray;
    padding: 20px;
    text-align: center;
    margin: 0px 2px;
    height: 100px;
}

.GetIdForm {
    border: 1px solid gray;
    margin-left: 3px;
    height: 250px;
}
